@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ================ NAVBAR ================= */
.custom-navbar {
  padding: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto;
  border-radius: 10px;
}

/* ================ LINK PAGE ================= */
.container {
  position: relative;
  overflow: visible;
}

.content-wrapper {
  display: flex;
  flex-direction: column; /* Default to column on small screens */
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.left-content,
.right-content {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.left-content {
  width: 100%; /* Full width on small screens */
  position: relative;
}

.right-content {
  width: 100%; /* Full width on small screens */
}

.phone-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
}

.phone-img {
  object-fit: cover;
  width: 60%;
  height: auto;
}

.phone-contents {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40%;
}

.avatar-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 25%;
}

.title-email-name {
  border-radius: 10px;
  height: 20px;
  width: 150px;
  margin-left: 15%;
}

.link-content {
  background-color: rgb(250 250 250);
  padding: 1rem;
  border-radius: 0.5rem;
}

.link-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-body {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.link-selector {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
}

.profile-img-picker {
  object-fit: cover;
  background-color: #1717175b;
}

/* Responsive Layout Adjustments */

@media (min-width: 468px) {
  .content-wrapper {
    flex-direction: row; 
    gap: 1.5rem;
  }
  .title-email-name{
    margin-left: 5% !important;
  }

  .left-content {
    width: 42%;
  }

  .right-content {
    width: 56%;
  }

  .phone-img {
    width: 70%;
  }
}

@media (min-width: 568px) {
  .phone-img {
      width: 60% !important;
  }
  .title-email-name{
    margin-left: 0;
  }
}

/* @media (min-width: 556px) {
  .phone-img {
      width: 70% !important;
  }
} */

@media (min-width: 320px) {
  .content-wrapper {
    flex-direction: column; 
    gap: 1.5rem;
  }
  .flex-row {
    flex-direction: column;
}
  .title-email-name{
    margin-left: -7%;
  }

  .left-content {
    width: 80%;
  }

  .right-content {
    width: 80%;
  }

  .phone-img {
    width: 100%;
  }
  .avatar-circle{
    margin-left: 18%;
  }
}


@media (min-width: 1068px) {
  .content-wrapper {
    flex-direction: row; 
    gap: 1.5rem;
  }
  .title-email-name{
    margin-left: 15% !important;
  }

  .left-content {
    width: 42%;
  }

  .right-content {
    width: 56%;
  }

  .phone-img {
    width: 70%;
  }

  .avatar-circle {
    margin-left: 26%;
}
}


